@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive" src="@Url.Content("~/Content/banner.gif")" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dien may Quyet Tien</h2>        
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>